:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  color: #ffffff;
  background-color: black;

}

a {
  color: #54575c;
  text-decoration: inherit;
  transition: 1s;
}
a:hover {
  color: #763ae7;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vh;
  min-height: 100vh;
}

::selection {
  text-shadow: none;
  background: #007be7;
}

#app {
  margin: 0 auto;
  text-align: center;
}
